.item {
    text-align: center;
    position: relative; 
    top: 0;
    animation: slideMobile 9s steps(3) infinite;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .item{
        animation: slide 12s steps(3) infinite;
        margin-bottom: 0;
    }
}

@keyframes slideMobile {
    100% {
        top:  -168px;
    }
} 

@keyframes slide {
    100% {
        top:  -216px;
    }
} 

.item::after {
    @apply dark:bg-zinc-900 bg-white;
    content: "";
    position: absolute;
    left: 0;
    height: 38px;
    width: 100%;
    border-left: 2px solid rgb(255, 216, 43);
    animation: typing 3s steps(12) infinite;
} 


@media (min-width: 1024px) {
    .item::after {
        height: 72px;
        animation: typing 4s steps(23) infinite;
        } 
}

    
  @keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}   