@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar {
    background: #121212;
    width: 6px;
    height: 6px;
    background: #F4F4F4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #212121;
  }

  .selectScroll::-webkit-scrollbar-track {
    background-color: #424242;
  }

  .productsScroll::-webkit-scrollbar-track {
    background-color: #212121;
  }